<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts::header"></head>


<body>
	<nav th:replace="layouts::navbar"></nav>

	<div class="d-flex justify-content-center align-items-center mt-5">
		<form action="/employees/save" method="POST" th:object="${employee}">
		<!-- To bind the employee -->
		<div class="form-group">
			<input type="hidden" th:field="${employee.employeeId}" />
			<div class="row mt-2">
				<label for="employeeFirstName">First Name</label>
				<input class="form-control" id="employeeFirstName" th:field="${employee.firstName}" type="text" placeholder="Employee FirstName">
			</div>
			<div class="row mt-2">
				<label for="employeeLastName">Last Name</label>
			<input class="form-control" th:field="${employee.lastName}" id="employeeLastName" type="text" placeholder="Employee LastName">
			</div>
			<div class="row mt-2">
				<label for="employeeEmail">Email Address</label>
			<input class="form-control" th:field="${employee.email}" id="employeeEmail" type="email" placeholder="Employee Email">
			</div>
			<div class="row mt-2">
				<button type="submit" class="mt-2 btn-sm btn-primary">Create Employee</button>
			</div>
		</div>
		</form>
	</div>
	
</body>

</html>